extends layout

block content
    h2(style='margin-left:400px;margin-top:20px;')="Contest id:"+contest_info.id+" Name: "+contest_info.name+" Duration:"+contest_info.duration 
    h1(style='margin-left:550px;margin-top:50px;') Submissions
    br
    br
    table(style="border-collapse:collapse;width:100%;font-family:arial,sans-serif")
        -var colorx="black"
        each contest_submission in contest_submissions
            if contest_submission.score=='Accepted'
                -colorx="#46ff46"
            else if contest_submission.score=='Wrong Answer'
                -colorx="#ff3b2a"    
            else 
                -colorx="#ff8c00"    
            tr(style="background-color:"+colorx)
                    td(style="border:1px solid #dddddd;text-align:left;padding:8px;")=contest_submission.user_id
                    td(style="border:1px solid #dddddd;text-align:left;padding:8px;")=contest_submission.username
                    td(style="border:1px solid #dddddd;text-align:left;padding:8px;")=contest_submission.question_id
                    td(style="border:1px solid #dddddd;text-align:left;padding:8px;")=contest_submission.score
                
            